body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: white;
}
  
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
  
.tablink:hover {
    background-color: #777;
}
  
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home{
    background-color: red;
}

#Login{
    background-color: brown;
}

#Register{
    background-color: purple;
}

#Contact{
    background-color: darkblue;
}

#About{
    background-color: darkred;
}

div.games{
    margin: 5px;
    float: left;
    width: 18.5%;
}

div.games img{
    width: 100%;
    height: auto;
}

div.description{
    text-align: left;
    color: black;
}