body{
    background-color: black;
}

.games {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}

.game1 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game2 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game3 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game4 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game5 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game6 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game7 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game8 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.game9 {
    background-color: gold;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: gold;
    color: black;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
  
.tablink:hover {
    background-color: black;
    color: white;
}
  
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Login{
    background-color: blue;  
}

#Register{
    background-color: purple;
}

#About{
    background-color: brown;
}

#Contact{
    background-color: black;
}